/* Estilo Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #003087; /* RGB: 0 – 48 – 135 */
}

/* Estilo do Cabeçalho */
h1 {
  display: flex;
  background-color: #003087; /* RGB: 0 – 48 – 135 */
  color: #ffffff;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/* Estilo do Formulário */
form {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #003087; /* RGB: 0 – 48 – 135 */
}

input[type="text"],
input[type="number"],
textarea {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
}

#ativo {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #ff7500; /* RGB: 255 – 117 – 0 */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e06600;
}

/* Estilo da Div de Resultado */
#resultado {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resultado h2 {
  color: #003087; /* RGB: 0 – 48 – 135 */
}

#texto-gerado {
  background-color: #00a3e0; /* RGB: 0 – 163 – 224 */
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap; /* Mantém as quebras de linha */
}

#copiar-texto {
  background-color: #ff7500; /* RGB: 255 – 117 – 0 */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#copiar-texto:hover {
  background-color: #e06600;
}

/* Estilo para campo de input inválido */
input.invalid {
  border: 2px solid red;
}

/* Estilo para a mensagem de erro */
.erro-mensagem {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 20px;
}

/* Estilo para o alerta customizado */
.alerta {
  display: none;
  background-color: #ff7500; /* RGB: 255 – 117 – 0 */
  color: #ffffff;
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.alerta button {
  background-color: #e06600;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
}

.alerta button:hover {
  background-color: #cc5c00;
}
